In [12]:
import pandas as pd
import numpy as np
import pandas_profiling
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', 200)

This sheet is my python slicing&dicing sheet. I may move to SQ for more complex aggregations later but I'm going to form my set here.
I plan to 
 - import my csv files
 - slice as necessary to remove extraneous data not needed in my analysis (I will attempt to justify)
 - merge a couple sets for ease

In [55]:
fema = pd.read_csv('data/fema.csv')

In [56]:
fema.shape

(166132, 11)

In [57]:
fema.head()

,disasterNumber,declarationDate,incidentType,state,county,applicantName,educationApplicant,numberOfProjects,federalObligatedAmount,hash,lastRefresh
0,1239,1998-08-26T00:00:00.000Z,Severe Storm(s),Texas,Val Verde,UNITED MEDICAL CENTERS,0,1,12028.63,5d10528e4d343d96061da8816465e64b,2019-10-18T14:06:56.673Z
1,1240,1998-08-27T00:00:00.000Z,Hurricane,North Carolina,NaN,ATLANTIC TELEPHONE MEMBERSHIP CORP.,0,1,30956.35,4aad896727265f6e5948a76e7977f57e,2019-10-18T14:06:56.676Z
2,1240,1998-08-27T00:00:00.000Z,Hurricane,North Carolina,NaN,CARTERET COUNTY SCHOOLS,1,4,1288255.25,eb55e580a33cd4d97fa8fd1f0d71294d,2019-10-18T14:06:56.680Z
3,1240,1998-08-27T00:00:00.000Z,Hurricane,North Carolina,NaN,"CEDAR POINT, TOWN OF",0,1,4125.00,e8ed9d023142825fa658ef7b5ae4729a,2019-10-18T14:06:56.680Z
4,1240,1998-08-27T00:00:00.000Z,Hurricane,North Carolina,NaN,"AURORA, TOWN OF",0,6,22810.25,23684ce3b4d27bc7561c39b024c3a05d,2019-10-18T14:06:56.676Z

In [58]:
fema.columns

Index(['disasterNumber', 'declarationDate', 'incidentType', 'state', 'county',
       'applicantName', 'educationApplicant', 'numberOfProjects',
       'federalObligatedAmount', 'hash', 'lastRefresh'],
      dtype='object')

In [61]:
FEMA = fema[['disasterNumber', 'declarationDate', 'incidentType', 'state', 'numberOfProjects',
       'federalObligatedAmount', 'hash']]

In [62]:
FEMA

,disasterNumber,declarationDate,incidentType,state,numberOfProjects,federalObligatedAmount,hash
0,1239,1998-08-26T00:00:00.000Z,Severe Storm(s),Texas,1,12028.63,5d10528e4d343d96061da8816465e64b
1,1240,1998-08-27T00:00:00.000Z,Hurricane,North Carolina,1,30956.35,4aad896727265f6e5948a76e7977f57e
2,1240,1998-08-27T00:00:00.000Z,Hurricane,North Carolina,4,1288255.25,eb55e580a33cd4d97fa8fd1f0d71294d
3,1240,1998-08-27T00:00:00.000Z,Hurricane,North Carolina,1,4125.00,e8ed9d023142825fa658ef7b5ae4729a
4,1240,1998-08-27T00:00:00.000Z,Hurricane,North Carolina,6,22810.25,23684ce3b4d27bc7561c39b024c3a05d
5,1240,1998-08-27T00:00:00.000Z,Hurricane,North Carolina,17,66289.22,588ca42880d2ba0404693d874f973d7f
6,1240,1998-08-27T00:00:00.000Z,Hurricane,North Carolina,4,22473.68,558486af04b7a22d39bf339f2700e18c
7,1239,1998-08-26T00:00:00.000Z,Severe Storm(s),Texas,1,2850.00,90281547cfd1646f97faed3411c665db
8,1240,1998-08-27T00:00:00.000Z,Hurricane,North Carolina,7,65190.20,da50b8be7cee5330c2d838f1d5145936
9,1240,1998-08-27T00:00:00.000Z,Hurricane,North Carolina,1,7188.75,f585ca717e65459cd9e09d3e1f01e239
10,1240,1998-08-27T00:00:00.000Z,Hurricane,North Carolina,1,20796.71,fcb0f613ff5a881caaddbf77c0fd55e2
11,1240,1998-08-27T00:00:00.000Z,Hurricane,North Carolina,11,314560.93,44e8178f9edf18a559269d6e8040e0ba
12,1240,1998-08-27T00:00:00.000Z,Hurricane,North Carolina,27,1768393.20,cb20046190b033e77444f10b818b8784
13,1240,1998-08-27T00:00:00.000Z,Hurricane,North Carolina,3,53852.25,b180c38f7646d70a0ca82b121ecd78f6
14,1240,1998-08-27T00:00:00.000Z,Hurricane,North Carolina,12,299216.03,0f19bb0b336c93cbd1b7506830452025
15,1240,1998-08-27T00:00:00.000Z,Hurricane,North Carolina,7,396334.90,fa7a8d02602c46c6aa886baf397b6cd3
16,1239,1998-08-26T00:00:00.000Z,Severe Storm(s),Texas,1,56311.18,c229271f1ec67f6314d067f0898d0242
17,1240,1998-08-27T00:00:00.000Z,Hurricane,North Carolina,2,66528.23,8748f2a75abc3e3185681b54914e94a1
18,1239,1998-08-26T00:00:00.000Z,Severe Storm(s),Texas,1,4658.78,053c50fe1672321aff19908e2a6fc5f5
19,1240,1998-08-27T00:00:00.000Z,Hurricane,North Carolina,4,12021.79,ef6c5c891c5734cac67516c9e6968494
20,1239,1998-08-26T00:00:00.000Z,Severe Storm(s),Texas,1,5016.00,d73ae44eeddb059e09e82abcefb3c507
21,1240,1998-08-27T00:00:00.000Z,Hurricane,North Carolina,14,862732.48,ceccbf8722cbb17b1d53992166503a46
22,1240,1998-08-27T00:00:00.000Z,Hurricane,North Carolina,4,4369.50,065b7b8b44dd5cc91dec2073de6a1094
23,1239,1998-08-26T00:00:00.000Z,Severe Storm(s),Texas,3,26366.14,e977de0c5a808f4c85bce1475439b7ed
24,1240,1998-08-27T00:00:00.000Z,Hurricane,North Carolina,3,18915.22,e885abc398ab0d99e25f0e1fad88dd99
25,1240,1998-08-27T00:00:00.000Z,Hurricane,North Carolina,3,28144.13,e7a66eecf202fc284233eb1413b36a61
26,1239,1998-08-26T00:00:00.000Z,Severe Storm(s),Texas,1,20486.25,799c226862bcf37393c3a73f393f62e7
27,1240,1998-08-27T00:00:00.000Z,Hurricane,North Carolina,2,5577.75,9daea9153251d0c097a4c206241ff61e
28,1240,1998-08-27T00:00:00.000Z,Hurricane,North Carolina,6,48564.25,6f1e4530c9b6fd98aba8a3fe7afeafd0
29,1240,1998-08-27T00:00:00.000Z,Hurricane,North Carolina,2,6140.25,c199193640431289f2d2f491a720b8c4
...,...,...,...,...,...,...,...
166102,4420,2019-03-21T00:00:00.000Z,Flood,Nebraska,1,8967.24,f91a7be852d7ce427181f85e34f4f7b5
166103,4413,2019-01-31T00:00:00.000Z,Earthquake,Alaska,1,22844.31,53b2664170239843121265ac56b4818e
166104,4420,2019-03-21T00:00:00.000Z,Flood,Nebraska,2,145476.62,38c7fa21f6d6dd98e7ed3fb752885983
166105,4420,2019-03-21T00:00:00.000Z,Flood,Nebraska,1,16004.20,5e09c631ca1f513a734edf28b2ad36cc
166106,4420,2019-03-21T00:00:00.000Z,Flood,Nebraska,1,3341.40,b2e70593f4a108af0387b6254180d151
166107,4420,2019-03-21T00:00:00.000Z,Flood,Nebraska,1,10898.72,96b523554cdde5502b0f43cd7ffdbc45
166108,4420,2019-03-21T00:00:00.000Z,Flood,Nebraska,1,91853.15,5b69e7df549ab67b807981547b372608
166109,4420,2019-03-21T00:00:00.000Z,Flood,Nebraska,1,3609.47,f80bb44b7f265a04bc7c7cf96bfe3b33
166110,4417,2019-02-25T00:00:00.000Z,Severe Storm(s),Kansas,2,28556.55,8a58f5e978d4363bf71c0b7778cf1e45
166111,4417,2019-02-25T00:00:00.000Z,Severe Storm(s),Kansas,1,15446.70,0cfdf208453aaf6fcd462fe340cca157
166112,4421,2019-03-23T00:00:00.000Z,Flood,Iowa,1,59035.58,4bc103e861211c73fc8ee56e33c8d444
166113,4421,2019-03-23T00:00:00.000Z,Flood,Iowa,1,81042.33,6f9010673428d83880a4fa8dad15ff63
166114,4421,2019-03-23T00:00:00.000Z,Flood,Iowa,1,5764.01,de8dde2df419dc23ef46564aa541ad43
166115,4421,2019-03-23T00:00:00.000Z,Flood,Iowa,1,7429.50,8effa826cd5c5bab567bc9c21805d900
166116,4421,2019-03-23T00:00:00.000Z,Flood,Iowa,1,35781.51,a63c6bf6488adb1dfe05ea5c32f1fee9
166117,4421,2019-03-23T00:00:00.000Z,Flood,Iowa,2,38382.04,a782c98ef7ef5afd8200a5fda4f8bfd0
166118,4421,2019-03-23T00:00:00.000Z,Flood,Iowa,1,3493.00,0651006556fbb36ee1a75438c487bee8
166119,4420,2019-03-21T00:00:00.000Z,Flood,Nebraska,1,4559.73,10c4b38b836783532d915967f42a6aa3
166120,4420,2019-03-21T00:00:00.000Z,Flood,Nebraska,1,12222.03,03ef0ad3579281afdfa3865626e5ef17
166121,4420,2019-03-21T00:00:00.000Z,Flood,Nebraska,1,18546.75,14e0cb8cc1a4c05929af93e74f699152
166122,4420,2019-03-21T00:00:00.000Z,Flood,Nebraska,1,22221.74,17e0cb37a4a58bb33fa66f4c842f457b
166123,4420,2019-03-21T00:00:00.000Z,Flood,Nebraska,1,28177.14,000d1c82a9396f0087cfac0a90c54dba
166124,4418,2019-03-04T00:00:00.000Z,Severe Storm(s),Washington,1,3107850.71,23cfdddf975fdce41e6711fa09894eb0
166125,4421,2019-03-23T00:00:00.000Z,Flood,Iowa,1,14661.75,d457c89c51d15f4e4a4dfd5d02487a37
166126,4421,2019-03-23T00:00:00.000Z,Flood,Iowa,1,4512.74,1a791371e83b01968f252cb2422a6109
166127,4421,2019-03-23T00:00:00.000Z,Flood,Iowa,1,199337.05,8bdbc19a00909cb13ba40df0ea311df9
166128,4421,2019-03-23T00:00:00.000Z,Flood,Iowa,1,3189.99,1f70e4a6be5c3606b84343fa52bc2307
166129,4421,2019-03-23T00:00:00.000Z,Flood,Iowa,1,30663.82,f6558e189ad3003128831c3933f9c061
166130,4441,2019-06-08T00:00:00.000Z,Flood,Arkansas,1,192656.08,6f90d2107cbd90ec2e7344c8ae3ffd83
166131,4441,2019-06-08T00:00:00.000Z,Flood,Arkansas,1,3239.48,77003c5e910661a3948f98d6c87de6b7

In [66]:
FEMA['declarationDate'] = pd.to_datetime(FEMA['declarationDate'])

C:\Users\epicr\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [68]:
FEMA['date'] = FEMA['declarationDate'].dt.date

C:\Users\epicr\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [71]:
FEMA = FEMA[['disasterNumber', 'date', 'incidentType', 'state', 'numberOfProjects',
       'federalObligatedAmount', 'hash']]

In [76]:
FEMA = FEMA.rename(columns={'disasterNumber':'disaster_num', 'incidentType':'incident_type', 'numberOfProjects':'num_of_projects',
       'federalObligatedAmount':'cost'})

In [87]:
FEMA.to_csv('data/FEMA.csv', index =False)

In [83]:
FEMA.columns

Index(['disaster_num', 'date', 'incident_type', 'state', 'num_of_projects',
       'cost', 'hash'],
      dtype='object')

In [72]:
hero = pd.read_csv('data/heroes_information.csv')

In [73]:
hero.head()

,Unnamed: 0,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0

In [74]:
heroSQL = hero[['name', 'Publisher', 'Alignment']]

In [75]:
heroSQL.head()

          name          Publisher Alignment
0       A-Bomb      Marvel Comics      good
1   Abe Sapien  Dark Horse Comics      good
2     Abin Sur          DC Comics      good
3  Abomination      Marvel Comics       bad
4      Abraxas      Marvel Comics       bad

In [76]:
MheroSQL = heroSQL[heroSQL['Publisher'] == 'Marvel Comics']

In [77]:
helpfulheroes = MheroSQL[MheroSQL['Alignment'] == 'good']

Ran into a little issue with DQ at this point as there were some heroes who either were duplicated or were not differentiated sufficiently by name to indicate gender. I have chosen to update this information in the original dataset and reload to get unique names.

In [78]:
helpfulheroes.name.value_counts()

Black Panther        1
Speedball            1
Nova (male)          1
Sif                  1
Doc Samson           1
Spider-Man III       1
Meteorite            1
Corsair              1
She-Hulk             1
Yellowjacket         1
Feral                1
Crystal              1
Storm                1
Captain Universe     1
Multiple Man         1
Ms Marvel II         1
Cecilia Reyes        1
Ink                  1
Archangel            1
Dagger               1
Maverick             1
Marvel Girl          1
Black Cat            1
Iron Man             1
Black Bolt           1
Hellcat              1
Hellstorm            1
Colossus             1
Warpath              1
Legion               1
                    ..
Moon Knight          1
Professor X          1
Psylocke             1
Vision               1
Box                  1
Justice              1
Genesis              1
Hybrid               1
Nightcrawler         1
Power Man            1
Angel Salvadore      1
Black Goliath        1
Scarlet Spider II    1
Spider-Man           1
Scarlet Spider       1
Beak                 1
Blink                1
Green Goblin IV      1
Nova (female)        1
Emma Frost           1
Deathlok             1
Crimson Dynamo       1
Guardian             1
John Wraith          1
Battlestar           1
Falcon               1
Iron Fist            1
Howard the Duck      1
Goliath IV           1
Vertigo II           1
Name: name, Length: 256, dtype: int64

In [80]:
helpfulheroes.shape

(256, 3)

In [107]:
helpfulheroes.to_csv('data/HelpfulHeroes.csv', index=False)

In [112]:
helpfulheroes.dtypes

name         object
Publisher    object
Alignment    object
dtype: object

In [55]:
powers = pd.read_csv('data/super_hero_powers.csv')

In [70]:
powers = powers.rename(columns = {"Name":"name"})
powers.head()

,name,Agility,Accelerated Healing,Lantern Power Ring,Dimensional Awareness,Cold Resistance,Durability,Stealth,Energy Absorption,Flight,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
0,3-D Man,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,True,True,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Abin Sur,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Abomination,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [124]:
powers.columns

Index(['name', 'Agility', 'Accelerated Healing', 'Lantern Power Ring',
       'Dimensional Awareness', 'Cold Resistance', 'Durability', 'Stealth',
       'Energy Absorption', 'Flight',
       ...
       'Web Creation', 'Reality Warping', 'Odin Force', 'Symbiote Costume',
       'Speed Force', 'Phoenix Force', 'Molecular Dissipation',
       'Vision - Cryo', 'Omnipresent', 'Omniscient'],
      dtype='object', length=168)

In [123]:
powers.dtypes

name                     object
Agility                    bool
Accelerated Healing        bool
Lantern Power Ring         bool
Dimensional Awareness      bool
Cold Resistance            bool
Durability                 bool
Stealth                    bool
Energy Absorption          bool
Flight                     bool
Danger Sense               bool
Underwater breathing       bool
Marksmanship               bool
Weapons Master             bool
Power Augmentation         bool
Animal Attributes          bool
Longevity                  bool
Intelligence               bool
Super Strength             bool
Cryokinesis                bool
Telepathy                  bool
Energy Armor               bool
Energy Blasts              bool
Duplication                bool
Size Changing              bool
Density Control            bool
Stamina                    bool
Astral Travel              bool
Audio Control              bool
Dexterity                  bool
                          ...
Intuitive aptitude         bool
Vision - Microscopic       bool
Melting                    bool
Wind Control               bool
Super Breath               bool
Wallcrawling               bool
Vision - Night             bool
Vision - Infrared          bool
Grim Reaping               bool
Matter Absorption          bool
The Force                  bool
Resurrection               bool
Terrakinesis               bool
Vision - Heat              bool
Vitakinesis                bool
Radar Sense                bool
Qwardian Power Ring        bool
Weather Control            bool
Vision - X-Ray             bool
Vision - Thermal           bool
Web Creation               bool
Reality Warping            bool
Odin Force                 bool
Symbiote Costume           bool
Speed Force                bool
Phoenix Force              bool
Molecular Dissipation      bool
Vision - Cryo              bool
Omnipresent                bool
Omniscient                 bool
Length: 168, dtype: object

In [108]:
powers.to_csv('data/Powers.csv', index=False)

In [82]:
helpfulpowers = pd.merge(helpfulheroes, powers, on ="name", how="left")
helpfulpowers.shape

(256, 170)

In [84]:
helpfulpowers.head()

,name,Publisher,Alignment,Agility,Accelerated Healing,Lantern Power Ring,Dimensional Awareness,Cold Resistance,Durability,Stealth,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
0,A-Bomb,Marvel Comics,good,False,True,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
1,Agent 13,Marvel Comics,good,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Agent Bob,Marvel Comics,good,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
3,Agent Zero,Marvel Comics,good,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Angel,Marvel Comics,good,True,True,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False

And that is not really that helpful, nor particularly necessary since SQL is so boss. So I'm going to leave them separate.